/*imp! CSS RESET, COMMON CSS AND BODY CSS PROPERTIES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS', sans-serif;
    height: 100vh;
}

p{
    font-size: 24px;
    color: white;
}

h3{
    font-size: 35px;
}

button{
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

button:hover{
    background-color: white;
    color: black;
    border: none;
}

/*imp! MAIN CONTAINER CSS PROPERTIES */

.main-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rebeccapurple;
    padding: 20px 0;
}

/*imp! COLOR CONTAINER CSS PROPERTIES */

.color-container-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.color-container{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 90px;
}

.color-container button{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.color-container button:hover{
    background-color: rebeccapurple;
    color: white;
}